@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap");
.content {
  overflow: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 10px;
}

* {
  --url: url("./paper.jpg");
}

.image {
  width: 60%;
  height: 100%;
  margin-right: 50px;
}

.letterC {
  width: 550px;
  height: 100%;
  padding: 20px 30px;
  overflow: hidden;
}

.letter {
  height: 85%;
  width: 80%;
  background-color: green;
  position: relative;
  left: -3px;
  top: -2px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  z-index: -1;
  background-image: var(--url);
  overflow-wrap: normal;
  padding: 25px;
  font-family: 'Gwendolyn';
}

.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.bletter {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  background-image: var(--url);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  z-index: 1;
  -webkit-box-shadow: -1px -1px 20px 3px rgba(0, 0, 0, 0.41);
          box-shadow: -1px -1px 20px 3px rgba(0, 0, 0, 0.41);
  overflow: hidden;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bolder;
}

.bletter p {
  margin: 10px 0px;
  width: 100%;
}

.bletter p:last-child {
  margin-top: 80px;
  text-align: right;
}
