.content{
	overflow: hidden !important;
	// background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 10px;
	
}
*{
	--url: url("./paper.jpg");
}
.image{
	width: 60%;
	height: 100%;
	margin-right: 50px;
}
.letterC{
	width: 550px;
	height: 100%;

	padding: 20px 30px;
	overflow: hidden;
}

.letter{
	
	height: 85%;
	width: 80%;
	position: relative;
	left: -3px;
	top:-2px;
	transform: rotate(-5deg);
	z-index: -1;
	background-image: var(--url);
	overflow-wrap: normal;
	padding:20px;
	font-family: 'Gwendolyn';
	// filter: brightness(70%);
}

.bg{
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -2;
	filter: brightness(70%);
}
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
.bletter{
	height: 100%;
	width: 100%;
	position: absolute;
	// left: -10px;
	background-image: var(--url);
	transform: rotate(5deg);
	z-index: 1;
	box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.41);
	overflow: hidden;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	font-size: 1.25rem;
	font-weight: bolder;
	p{
		margin: 10px 0px;
		width: 100%;
		&:last-child{
			margin-top: 80px;
			text-align: right;
		}
	}
	
}
